 <!-- Navigation-->
 <app-navbar></app-navbar>
<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <app-about  id="about" ></app-about>
  <hr class="m-0" />
  <!-- Experience-->
  <app-experience id="experience" ></app-experience>
  <hr class="m-0" />
  <!-- Education-->
  <app-education id="education" ></app-education>
  
  <hr class="m-0" />
  <!-- Skills-->
  <app-skills id="skills" ></app-skills>
  
  <hr class="m-0" />
  <!-- Interests-->
  <app-interests id="interests" ></app-interests>
  <hr class="m-0" />
  <!-- Awards-->
  <app-awards id="awards" ></app-awards>
  <hr class="m-0" />
  <!-- Proyectos-->
  <section class="resume-section" id="proyectos">
      <div class="resume-section-content">
          <h2 class="mb-5">Proyectos</h2>
          <app-portafolio></app-portafolio>
          
      </div>
  </section>
</div>
<router-outlet></router-outlet>

